               /* body section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
body:hover{
    cursor: pointer;
}

                    /* info section */
.info{
    font-weight: 300;
    position: relative;
    top: 33px;
    left: 35px;
}

.info a{
    color: #a1a1aa;
   text-decoration: none;
}
                    /* box section */
.box {
  background-color: #27272a;
  width: 1285px;
  height: 804px;
  margin: auto;
  margin-top: 52px;
  padding: 47px;
  color: #a1a1aa;
}

                    /* first-heading section */
.first-heading a{
    color: #555555;
    text-decoration: none;
}
.first-heading {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 35px;
  color: #555555;
}
                    /* box-dd a section */
.box dd a{
  list-style: none;
  padding: 23px;
  display: grid;
  gap: 36px;
  color: #a1a1aa;
  font-family: sans-serif;
  font-size: larger;
  text-decoration: none;
}

                    /* second-heading section */
.second-heading{
  color: #008080;
  text-align: center;
  padding: 20px;
  font-size: 28px;
  font-weight: 300;
}

                    /* center-text section */
.center-text p {
  font-size: larger;
  font-weight: 300;
  color: #a1a1aa;
  line-height: 1.8;
}
.center-text a {
 text-decoration: none;
}
                    /* left-text section */
.left-text {
  padding: inherit;
  padding-left: 3px;
}
.left-text a{
 text-decoration: none;
}

                    /* strong-span section */
strong {
  font-weight: 600;
  font-size: 21px;
  color: #008080;
}
span {
  color: #333333;
  font-size: 19px;
  font-family: sans-serif;
}

                    /* first-payers section */
.first-payers{
  padding: 40px 1px;
  padding-top: 0;
  margin-top: -16px;
  line-height: 1.8;
  font-size: 19px;
}
.first-payers a{
text-decoration: none;
color: #a1a1aa;
}
.first-payers b {
  font-weight: 700;
  font-size: 22px;
  color: #ff0000;
  padding: 10px;
}
.first-p {
  position: relative;
  left: -10px;
}

                    /* second-payers + note section */
.second-payers {
  line-height: 1.8;
  font-size: 18px;
  margin-top: -9px;
}
.second-payers a{
    text-decoration: none;
    color: #a1a1aa;
    }
.Note {
  padding: 44px 0px;
  font-size: larger;
}
.Note .bold {
  font-weight: 700;
  font-size: 22px;
  color: #ff0000;
}

                    /* footer section */

#footer-box {
    width: 100%;
    height: 72px;
    background-color: #313030;
    position: absolute;
    bottom: -20vh;
  }
  
  #web-links {
    text-align: center;
    padding: 24px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  #web-links a {
    text-decoration: none;
    color: #a4a4a4;
    cursor: pointer;
  }
  
  #web-links a:hover {
    color: #319e63;
  }
